:root {
    --default-primary-color: #D1202F;
    --default-second-color: #F8B333;
    // --default-third-color: #5e1ad5;
}

body, button, input {
    font-family: 'Cairo', sans-serif;
}

.main-bg {
    height: 100vh;
}
.el-main {
    background:#f6f6f6;
}


.gray-title{
    color:#bab3c0;
}

.request-card{
    .el-card__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) { 
            align-items: center;
            flex-flow: column;
            text-align: center;
        }
    }
    .phone-icon{
        font-size: 41px;
        color: #ee5248;
        background-color: #ffe7e5;
        padding: 10px;
        border-radius: 50%;
    }
    .order-icon{
        font-size: 41px;
        color: #ee5248;
        background-color: #fbf3ef;
        padding: 10px;
        border-radius: 50%;
    }
    .title-time-wrapper{
        p{
            margin: 0;
        }
        .title{
            font-size: 20px;
            color: #1b1b1b;
        }
        .time{
            font-size: 14px;
            color: #bab3c0;
        }
    }
    .requester-name, .request-place{
        display: flex;
        align-items: center;
        p.name, p.hall{
            margin: 0 10px !important;
            margin-left: 10px;
        }
        i{
            // position: relative;
            // top: 2px;
        }
    }
}
.pointer{
    cursor: pointer;
}
.pagination-block{
    margin-top: 30px;
	display: flex;
	align-items: center;
    justify-content: center;
	.demonstration {
		margin-bottom: 16px;
	}
	.el-pagination {
		justify-content: center;
	}
	.btn-prev,
	.btn-next {
		i {
			transform: rotate(180deg);
		}
	}
	.input-page-num {
		.el-input-number {
			width: 70px;
		}
		.el-input {
			width: max-content;
			margin: 0;
		}
		input {
			padding-right: 22px !important;
			padding-left: 0px !important;
		}
	}
}

.preview-img{
    width: 80%;
    margin: auto;
    img{
        height: 125px;
        border-radius: 20px;
        max-width: 100%;
    }
}

.btn--burble{
    background-color: var(--default-second-color);
    color: #f8f8f8;
    border-radius: 8px;
    font-weight: bolder;
}

.request-attend-btn{
    background-color: var(--default-primary-color) !important;
    color:#fff !important;
    margin: 20px auto !important;
    margin-bottom: 0 !important;
    display: block !important;
    border-radius: 8px !important;
    font-weight: bolder;
    i{
        margin-left: 7px;
    }
 }

.el-upload-list--picture .el-upload-list__item {
    width: 100px;
    margin: auto;
}

.el-upload.el-upload--picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


// colors
.form-wrapper{
    .submit{
        background-color: var(--default-primary-color);
    }
}
.el-menu-header {
    &.el-menu--horizontal>.el-menu-item.is-active {
        color: var(--default-primary-color) !important;
    }
    .el-menu--horizontal>.el-menu-item.is-active
    .el-menu-item.is-active{
      .icon {
        color: var(--default-primary-color);
      }
    }
}

.logout-item{
    color: var(--default-primary-color) !important;
  }
  .order-box{
    .order-header{
        color: var(--default-primary-color);
    }
  }
  .date-card{
    .el-icon{
        color: var(--default-primary-color);
    }
  }

  .order-tabs{
    .el-tabs__item{
        &.is-active{
            color: var(--default-primary-color);
        }
        &:hover{
            color: initial;
        }
    }
    .el-tabs__active-bar{
        background-color: var(--default-primary-color);
    }
  }
  .order-item{
    .request-btn{
        &:hover{
            background-color: var(--default-primary-color);
        }
    }
  }
  .page-header{
    .add-kitchen span{
        color: var(--default-primary-color);
    }
  }

  .list-item{
    .preview-btn{
        color: var(--default-primary-color);
        &:hover{
            background-color: var(--default-primary-color);
        }
    }
  }
  .type-wrapper{
    .el-radio{
        &.is-checked{
            border: 2px solid var(--default-primary-color);
        }
        .el-radio__input.is-checked .el-radio__inner{
            border-color: var(--default-primary-color);
            background: var(--default-primary-color);;
        }
        .el-radio__label{
            color: var(--default-primary-color);
        }
    }
  }

  .kitchen-home .kitchen-item .arrow{
    &:hover{
        background-color: var(--default-primary-color);
    }
  }
// switch

input.switch {
    appearance: none;
    width: 94px;
    // padding-left: 59px;
    margin: 0;
    border-radius: 16px;
    background: radial-gradient(circle 12px, white 100%, transparent calc(100% + 1px)) #ccc -30px;
    transition: 0.3s ease-in-out;
}

input.switch::before {
    position: relative;
    left: 34px;
    content: attr(data-before);
    font: bold 12px/32px Verdana;
    color: white;
    // text-shadow: 0 1px black;
}

input.switch:checked {
    position: relative;
    // left: 34px;
    padding-right: 8px;
    background-color: var(--default-primary-color);
    background-position: 29px;
}

input.switch:checked::before {
    content: attr(data-checked);
    left: 10px;
}
    // end switch

    .el-menu--horizontal .el-menu-item:not(.is-disabled):focus, .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
        background-color: #f6f6f6 !important;
    }

.el-menu-item i {
    font-size: 14px !important;
}
@include rtl() {
    td,th {
        text-align: right;
    }
    input.switch::before{
        right: 11px;
        left: initial;
    }
    input.switch:checked{
        padding-right: 44px;
    }
    .el-form-item__label{
        text-align: right;
    }
    .el-dialog__headerbtn{
        left: 10px;
        right: unset;
    }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: var(--default-second-color);;
}
